html {
    /*background-color:#292929;*/
    background-image:url("assets/hexabump.png");
}
.mainContent {
    top:50%;
    left:50%;
    position:absolute;
    transform: translate(-50%, -50%);
    background: rgba(108,201,193,1);
    background: -moz-linear-gradient(top, rgba(108,201,193,1) 0%, rgba(93,217,198,1) 22%, rgba(120,240,220,1) 54%, rgba(165,255,224,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(108,201,193,1)), color-stop(22%, rgba(93,217,198,1)), color-stop(54%, rgba(120,240,220,1)), color-stop(100%, rgba(165,255,224,1)));
    background: -webkit-linear-gradient(top, rgba(108,201,193,1) 0%, rgba(93,217,198,1) 22%, rgba(120,240,220,1) 54%, rgba(165,255,224,1) 100%);
    background: -o-linear-gradient(top, rgba(108,201,193,1) 0%, rgba(93,217,198,1) 22%, rgba(120,240,220,1) 54%, rgba(165,255,224,1) 100%);
    background: -ms-linear-gradient(top, rgba(108,201,193,1) 0%, rgba(93,217,198,1) 22%, rgba(120,240,220,1) 54%, rgba(165,255,224,1) 100%);
    background: linear-gradient(to bottom, rgba(108,201,193,1) 0%, rgba(93,217,198,1) 22%, rgba(120,240,220,1) 54%, rgba(165,255,224,1) 100%);
    color:white;
    overflow:hidden;
}
.rectangle {
    height:90%;
    width:400px;
    border-radius:10px;
}
.circle {
    height:400px;
    width:400px;
    border-radius:50%;
}
.textContent{
    width:100%;
    top:50%;
    left:50%;
    position:absolute;
    transform: translate(-50%, -50%);
}
h1 {
    font-family: 'Pacifico', cursive;
    font-size:40px;
    margin:0px;
    padding:0px;
    text-align:center;
}

h3 {
    font-family: 'Arimo', sans-serif;
    font-size:12px;
    line-height: 13px;
    margin:0px;
    text-align:center;
}
.searchButton {
    margin:0 auto;
    height:30px;
    line-height: 30px;
    width:150px;
    margin-top:50px;
    text-align:center;
    border-radius:200px;
    color:white;
    border:solid 2px white;
    background-color:transparent;
    font-family:'Arimo', sans-serif;
}
a {
    text-decoration: none;
}
a :visisted {
    text-decoration: none;
}
.searchButton:hover {
    background-color:white;
    border:solid 2px #292929;
    color:#292929;
}
/***********SEARCH.JSP***********/

input[type=text] {
    padding:5px;
    font-family:'Arimo', sans-serif;
    font-size:20px;
}

form {
    text-align:center;
    margin-top:10px;
}
